In [5]:
import pandas as pd

In [56]:
df_taxi_zone_lookup = pd.read_csv('../raw_data/taxi+_zone_lookup.csv')

In [57]:
df_taxi_zone_lookup.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [43]:
df_green_trip_data_iter = pd.read_csv('../raw_data/green_tripdata_2019-01.csv', iterator=True, chunksize=100000)

In [73]:
df_green_trip_data_iter

In [45]:
df_green_trip_data = next(df_green_trip_data_iter)

In [71]:
df_green_trip_data.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [55]:
len(df_green_trip_data)

100000

In [20]:
from sqlalchemy import create_engine

In [33]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [34]:
engine.connect()

In [58]:
print(pd.io.sql.get_schema(df_taxi_zone_lookup, name='taxi_zone_lookup', con=engine))

CREATE TABLE taxi_zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [68]:
print(pd.io.sql.get_schema(df_green_trip_data, name='taxi_zone_lookup', con=engine))

CREATE TABLE taxi_zone_lookup (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [63]:
df_taxi_zone_lookup.head(n=0)

Empty DataFrame
Columns: [LocationID, Borough, Zone, service_zone]
Index: []

In [64]:
df_taxi_zone_lookup.to_sql('taxi_zone_lookup', con=engine, if_exists='replace') # table is small, import it in one go

265

In [48]:
df_green_trip_data.lpep_pickup_datetime = pd.to_datetime(df_green_trip_data.lpep_pickup_datetime)

In [49]:
df_green_trip_data.lpep_dropoff_datetime  = pd.to_datetime(df_green_trip_data.lpep_dropoff_datetime)

In [70]:
df_green_trip_data.head(n=0).to_sql('green_trip_data', con=engine, if_exists='replace') # create table

0

In [72]:
%time df_green_trip_data.to_sql('green_trip_data', con=engine, if_exists='append') # append first chunk

CPU times: user 3.35 s, sys: 75.2 ms, total: 3.43 s
Wall time: 7.32 s

1000

In [74]:
from time import time

In [75]:
# append the rest
while True:
    t_start = time()
    
    df_green_trip_data = next(df_green_trip_data_iter)
    
    df_green_trip_data.lpep_pickup_datetime = pd.to_datetime(df_green_trip_data.lpep_pickup_datetime)
    df_green_trip_data.lpep_dropoff_datetime  = pd.to_datetime(df_green_trip_data.lpep_dropoff_datetime)
    
    df_green_trip_data.to_sql('green_trip_data', con=engine, if_exists='append') # append next chunk
    
    t_end = time()
    
    print('inserted another chunk..., took %0.3f seconds' % (t_end-t_start))

inserted another chunk..., took 7.530 seconds
inserted another chunk..., took 7.535 seconds
inserted another chunk..., took 7.331 seconds
inserted another chunk..., took 7.457 seconds
inserted another chunk..., took 7.663 seconds
inserted another chunk..., took 2.496 seconds

StopIteration: